css
.error-message {
  color: #ff0000d8; 
  text-align: center;
  margin-top: 5px;
}

.login-container .error-message {
    color: #ff0000d8 !important;
    text-align: center;
    margin-top: 5px;
  }

  .input-field {
    width: 10%;
     max-width: 100px; 
  }