.vehicle-table {
  width: 100%;
  max-width: 700px; /* Adjust this value as needed */
  border-collapse: collapse;
}

.vehicle-table th
{
  padding: 10px;
  /* border: 1px solid #6087f1;     */
   border: 1px solid #ddd; 
  text-align: left;
}

.vehicle-table td {
  padding: 4px;
  /* border: 1px solid #6087f1;     */
   border: 1px solid #ddd; 
  text-align: left;
}

/* Header row  */
.vehicle-table th {
  /* background-color: #f2f2f2; */
  background-color: #206e92;
  font-weight: bold;
}

.vehicle-table tr:nth-child(even) {
  background-color:  #5a95b1;
  /* background-color: #f9f9f9; */
}

.vehicle-table tr:hover {
  background-color: #f5f5f5;
}

/* Add spacing between buttons */
.button-container {
  display: flex; /* Use flexbox for alignment */
  gap: 30px; /* Adjust this value to increase/decrease space */
  
}