body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* --primary-color: #3498db; */
  --primary-color: #105583;
  --secondary-color: #2e80af;
  --background-color:rgb(103, 144, 162);
  /* --background-color: #ecf0f1; */
  /* --text-color: #34495e; */
  --text-color: #0d3a66; 
  --error-color: #e74c3c;
}

body {
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}